html, body, div, span, h1, h2, h3, h4, strong, ol, ul, li{
    margin-left: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: arial !important;
    font-size: 100%;
    color: #000;
    vertical-align: baseline;

    /*background: url("../imgs/background.jpg") repeat fixed center center #474C52;*/
    background: url("../imgs/bgr/earthrisechopped.jpg") fixed center bottom no-repeat #fff;
}

body{
    line-height: 1.5;
    font-size: 100%;
    font-family: georgia, helve;
}
ol, ul{
    list-style: none;
}

#wrapper{
    width: 1200px;
    margin: 0 auto;
    border: 10px solid #73726E;
    border-top: 30px solid #73726E;
    -moz-border-radius:0 0 6px 6px;
    background: transparent; 
}
#header{
    margin-top: -140px;
    width: 1200px;
    height: 140px;
    background-color: #4792b8;
}

#mainNav{
    background: url("../imgs/opaque_10.png") repeat-x scroll 0 0 transparent;
    border-right: 1px solid #5F676D;
    padding-top: 10px;
    width: 210px;
    float: left;
}
#mainNav li{
    border: 1px solid #5F676D;
    background: url("../imgs/opaque_10.png") repeat-x scroll 0 0 transparent;
    list-style: none outside none;
    left: 100cm;
}
#mainNav li:hover{
    background: transparent;
    border: 3px solid #5F676D; 
}

#content{

    width: 964px;
    background: url("../imgs/sep_vertical.png") repeat-y scroll 0 0 transparent;
    padding-left: 1.5em;
    float: right;

}

#footer{
    height: 60px;
    clear: both;
    background: url("../imgs/opaque_10.png") repeat-x scroll 0 0 transparent;
    text-align: center;
}

#input, textarea {
    background: url("../imgs/opaque_10.png") repeat scroll 0 0 transparent;
    border: medium none;
    color: #C5CBD0;
    float: left;
    margin-bottom: 0.5em;
    padding: 0.4em;
    width: 20em;
}

#error {
    background-color: #73726E;
    color: #ffffff;
    border-width: 2px;
    border-color: #9f8d39;
    font-size: 10px;
    float: right;
}

#paggind {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

#title {
    background-color: #fff;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    /*text-align: center;*/
}
#title a {
    text-decoration: none;
}

#short-description {
    font-style: normal;
}

#new-to-detail {
    text-align: right;
    font-style: italic;
    padding-right: 45px;
    padding-top: 25px;
    color: #0000ff;
}

#new-to-detail a {
    text-decoration: none;
}

#image {
    float: left;
    padding-right: 20px;
    padding-top: 15px;
}

#new-range {
    padding-bottom: 30px;
    padding-top: 15px;
    border-bottom-style: dotted;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-color: orange;
    border-left-color: orange;
    border-bottom-color: orange;
    border-top-color: orange;
    border-bottom: 1px dotted orange;
    border-color: orange;
    border-width: 1px;
    margin-right: 22px;
    padding-bottom: 30px;
    padding-top: 15px;
}

.clear{
    clear: both;
}
.clear-left {
    float: left;
    margin-left: 0px;
}

.clear-right {
    float: right;
    margin-right: 25px;
}

table.general-table{
    width: 100%;
    /*padding-left: 10px;*/
    padding-right: 10px;
    text-align: center;
}

table.general-table th{
    background-color:#00ff00;
    height: 30px;
    border-color: black;
}

table.general-table td{
    text-align: center;
    background-color: #5F676D;
}


#new-range img{
    width:120px;
    font-zize: 10px;
}
.atag {
    cursor: pointer;
    color: #0000ff;
    background: none !important;
}
.atag:hover {
    text-decoration: underline;
}

/*Import student page*/
#import-student-one {
    
}

#student-persional-info {
    float: left;
}

#student-university-info {
    margin-left: 55px;
    float: left;
}

#import-student-button {
    margin-left: 106px;
    padding-top: 25px;
    padding-bottom: 12px;
}

#import-student-from-file {
    display: none;
}
#file-format-view{
    display: none;
}

#file-inport {
    
}

#pre-sub-search {
    float: left;
}
#pre-sub-filter {
    float: right;
    padding-right: 33px;
}

.input-minwidth {
    min-width: 140px;
}

.input-text-area {
    max-width: 15cm;
    max-height: 1cm;
    background: #fff !important;
    border: 1px solid #C5CBD0 !important;
    color: #000 !important;
}
