*{
	margin:0;
	padding: 0;
}

/*Menu*/
#menu{
	/*margin-left: 300px;
	margin-top: -40px;*/
	background: none;
	/*float: left;*/
        align: center;
}

#menu ul{
	list-style: none outside none;
        width: 100%;
        height: 40px;
        background: url(../imgs/menu/menu_bg.PNG) repeat-x;
}

#menu li li{
    background: none;
}
#menu ul li{
	position: relative;
	display: inline-block;
        background: url(../imgs/menu/menu_space.PNG) no-repeat right center;
        height: 100%;
}


#menu li a{
	display: block;
	color: #fff;
        /*border: 1px solid #000000;*/
        background: transparent;/* url(../imgs/headerbg.png);*/
	font-weight: bold;
	text-decoration: none;
        font-size: 12px;
      
        height: 15px;
        margin-top: 5px;
	padding: 6px 16px 6px 1px;
        font-family: Georgia;
        text-transform: uppercase;
}

#menu li a:hover{
	color: 	#ADD8E6;
        text-shadow:0px 1px #000;
}

#menu li ul{
        background: none;
	position: absolute;
	display: none;
	width: 5cm;
        top: 40px;
}

#menu li:hover ul{
	display: block;
}

#menu ul li ul li{
	border: 1px solid #ffffff;
	background: #dbdbdb;
	width: 100%;
        
}

#menu .no-border{
    border-right: none;
}

/*Logo*/
#logo{
    width: 100%;
    height: 158px;
    margin-left: -9px;
    border: 10px solid #73726E;
    border-bottom: none;
    -moz-border-radius:6px 6px 0 0;
    background: url("../imgs/topbanner.jpg") repeat-x transparent;
    /*background: transparent;*/
    
}

body{
    margin: 0;
    padding: 0;
    /*background-color: #98AFC7;*/
}

#page-left{
    float: left;
    width: 200px;
    background-color: #5F5B26;
}

#page-right{
    float: right;
    width: 800px;
    background-color: #7D8103;
}

#sf{
    margin-left: 250px;
}


/*FootNote*/
