*{
	margin:0;
	padding: 0;
}

/*Menu*/
#menu{
	/*margin-left: 300px;
	margin-top: -40px;*/
	background: none;
	/*float: left;*/
        align: center;
}

#menu ul{
	margin-top: -35px;
	list-style: none outside none;
        width: 1000px;
        
}

#menu li li{
    background: none;
}
#menu ul li{
	position: relative;
	display: inline-block;
}

#menu li a{
	display: block;
	color: #000;
        /*border: 1px solid #000000;*/
        background: transparent;/* url(../imgs/headerbg.png);*/
	font-weight: bold;
	text-decoration: none;
        font-size: 11px;
        border-right: 1px dotted #b0b0b0;
        height: 15px;
        margin-top: 5px;
	padding: 0 6px 0;
        font-family: Georgia;
        text-transform: uppercase;
}

#menu li a:hover{
	color: white;
	background-color: orange;
        text-decoration: underline;
}

#menu li ul{
        background: #b0b0b0;
	position: absolute;
	display: none;
	width: 5cm;
        top: 55px;
}

#menu li:hover ul{
	display: block;
}

#menu ul li ul li{
	border: 1px solid #ffffff;
	/*background-color: #9f8d39;*/
	width: 100%;
}

#menu .no-border{
    border-right: none;
}

/*Logo*/
#logo{
    width: 1200px;
    height: 188px;
    margin-left: -9px;
    border: 10px solid #73726E;
    -moz-border-radius:6px 6px 0 0;
    background: url("../imgs/topbanner.jpg") repeat-x transparent;
    /*background: transparent;*/
    
}

body{
    margin: 0;
    padding: 0;
    /*background-color: #98AFC7;*/
}

#page-left{
    float: left;
    width: 200px;
    background-color: #5F5B26;
}

#page-right{
    float: right;
    width: 800px;
    background-color: #7D8103;
}

#sf{
    margin-left: 250px;
}


/*FootNote*/
